:root {
    //fonts
    //--main-font: Roboto, sans-serif;
    //--logo-font: Raleway, sans-serif;
    
    //colors
    --black-color: #000000;
    --white-color: #ffffff;
    --heading-color: #212121;
    --main-color: #757575;
    --accent-color: #2196F3;
    --project-border-color: #EEEEEE;
    --address-color: #ffffff99;
    --footer-socials-color: #ffffff10;
    //bg-colors
    --main-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --header-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --banner-bg-color: #2F303A;
    --banner-gradient: #30313b66;
    --icon-bg-color: #AFB1B8;
    //btn-color
    --btn-color: #F5F4FA;
    --btn-accent-color: #188CE8;
    --btn-active-color: #2196F3;
    --btn-filter-color: #2196F3;
    //line color
    --line-color: #ECECEC;
    //portfolio grid
    --items: 3;
    --indent: 30px;
    //transition
    --trans-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mainFont: Roboto, sans-serif;
$logoFont: Raleway, sans-serif;