.nav {

    margin-right: auto;

    &__item {

       // @include transition (color);

        display: block;
        align-items: center;
        position: relative;
        font-size: 14px;
        line-height: calc(16 / 14);
       // color: var(--heading-color);
        font-weight: 500;
        letter-spacing: 0.02em;

        .current::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: -3%;
            display: inline-block;
            width: 100%;
            height: 4px;
            background: var(--accent-color);
            border-radius: 2px;
        }
    }

    &__list {

        @include flex(flex, null, null);

        //display: flex;
        gap: 50px;

        & .link.current {
            color: var(--accent-color);
        }

        & .link {
            display: block;
            color: var(--heading-color);
            padding: 32px 0;
        }
    }

    &__link {

        @include transition (color);

        color: var(--heading-color);

        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }
}